
// standard skin colors
$color1: darkgray;
$color1_dark: gray;

// skin 1
$skin1_color1: #0e9aef;
$skin1_color1_dark: #0d89de;

// skin 2
$skin2_color1: #23c6c8;
$skin2_color1_dark: #12b5b7;

// skin 3
$skin3_color1: #ecba52;
$skin3_color1_dark: #cba941;

// skin 4
$skin4_color1: #ff6347;
$skin4_color1_dark: #ee5236;

// skin 5
$skin5_color1: #ffff00;
$skin5_color1_dark: #dddd00;

// skin 6
$skin6_color1: #708090;
$skin6_color1_dark: #607080;

// skin 7 - uk
$skin7_color1: #C7105C;
$skin7_color1_dark: #9A0C46;