/*
 *
 *   SKIN 1
 *   NAME - Blue light
 *
*/

.skin-1 .minimalize-style-2 {
  margin: 14px 5px 5px 30px;
}
.skin-1 .navbar-top-links li:last-child {
  margin-right: 30px;
}
.skin-1.fixed-nav .minimalize-style-2 {
  margin: 14px 5px 5px 15px;
}
.skin-1 .spin-icon {
  background: $skin1_color1 !important;
}
.skin-1 .nav-header {
  background-color: $skin1_color1;
  background-image: url('../img/theme-basekit-admin/patterns/header-profile-skin-1.png');
}
.skin-1.mini-navbar .nav-second-level {
  background: #3e495f;
}
.skin-1 .breadcrumb {
  background: transparent;
}
.skin-1 .page-heading {
  border: none;
}
.skin-1 .nav > li.active {
  background: #3a4459;
}
.skin-1 .nav > li > a {
  color: #9ea6b9;
}
.skin-1 .nav > li.active > a {
  color: #fff;
}
.skin-1 .btn-primary {
  background: $skin1_color1;
  border-color: $skin1_color1;
  &:hover {
    background: $skin1_color1_dark;
    border-color: $skin1_color1_dark;
  }
}
body.skin-1 {
  background: #3e495f;
}
.skin-1 .navbar-static-top {
  background: #ffffff;
}
.skin-1 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}
.fixed-nav.skin-1 .navbar-fixed-top {
  background: #fff;
}

.skin-1 #page-wrapper {
  background: #f4f6fa;
}
.skin-1 .ibox-title,
.skin-1 .ibox-content {
  border-width: 1px;
}
.skin-1 .ibox-content:last-child {
  border-style: solid solid solid solid;
}
.skin-1 .nav > li.active {
  border: none;
}
.skin-1 .nav-header {
  padding: 35px 25px 25px 25px;
}
.skin-1 .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}
.skin-1 .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}
.skin-1 .profile-element {
  text-align: center;
}
.skin-1 .img-circle {
  border-radius: 5px;
}
.skin-1 .navbar-default .nav > li > a:hover,
.skin-1 .navbar-default .nav > li > a:focus {
  background: #3a4459;
  color: #fff;
}
.skin-1 .nav.nav-tabs > li.active > a {
  color: #555;
}
.skin-1 .nav.nav-tabs > li.active {
  background: transparent;
}


/*
 *
 *   SKIN 2
 *   NAME - Inspinia Ultra
 *
*/

body.skin-2 {
  color: #565758 !important;
}
.skin-2 .minimalize-style-2 {
  margin: 14px 5px 5px 25px;
}
.skin-2 .navbar-top-links li:last-child {
  margin-right: 25px;
}
.skin-2 .spin-icon {
  background: #23c6c8 !important;
}
.skin-2 .nav-header {
  background-color: #23c6c8;
  background-image: url('../img/theme-basekit-admin/patterns/header-profile-skin-2.png');
}
.skin-2.mini-navbar .nav-second-level {
  background: #ededed;
}
.skin-2 .breadcrumb {
  background: transparent;
}
.skin-2.fixed-nav .minimalize-style-2 {
  margin: 14px 5px 5px 15px;
}
.skin-2 .page-heading {
  border: none;
  background: rgba(255, 255, 255, 0.7);
}
.skin-2 .nav > li.active {
  background: #e0e0e0;
}
.skin-2 .logo-element {
  padding: 17px 0;
}
.skin-2 .nav > li > a,
.skin-2 .welcome-message {
  color: #edf6ff;
}
.skin-2 #top-search::-moz-placeholder {
  color: #edf6ff;
  opacity: 0.5;
}
.skin-2 #side-menu > li > a,
.skin-2 .nav.nav-second-level > li > a {
  color: #586b7d;
}
.skin-2 .nav > li.active > a {
  color: #213a53;
}
.skin-2.mini-navbar .nav-header {
  background: #213a53;
}
.skin-2 .btn-primary {
  background: $skin2_color1;
  border-color: $skin2_color1;
  &:hover {
    background: $skin2_color1_dark;
    border-color: $skin2_color1_dark;
  }
}
.skin-2 .border-bottom {
  border-bottom: none !important;
}
.skin-2 #top-search {
  color: #fff;
}
body.skin-2 #wrapper {
  background-color: #ededed;
}
.skin-2 .navbar-static-top {
  background: #213a53;
}
.fixed-nav.skin-2 .navbar-fixed-top {
  background: #213a53;
  border-bottom: none !important;
}
.skin-2 .nav-header {
  padding: 30px 25px 30px 25px;
}
.skin-2 .dashboard-header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 20px 30px;
}
.skin-2 .dashoard-1 .wrapper-content {
  padding: 0 30px 25px 30px;
}
.skin-2 .ibox-title {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  margin-bottom: 1px;
}
.skin-2 .ibox-content {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
}
.skin-2 #page-wrapper {
  background: #f6f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -o-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 20%, #d5d5d5 100%);
  background: radial-gradient(ellipse at center, #f6f6f6 20%, #d5d5d5 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#d5d5d5)";
}
.skin-2 .ibox-title,
.skin-2 .ibox-content {
  border-width: 1px;
}
.skin-2 .ibox-content:last-child {
  border-style: solid solid solid solid;
}
.skin-2 .nav > li.active {
  border: none;
}
.skin-2 .nav-header a.dropdown-toggle {
  color: #edf6ff;
  margin-top: 10px;
}
.skin-2 .nav-header a.dropdown-toggle .text-muted {
  color: #edf6ff;
  opacity: 0.8;
}
.skin-2 .img-circle {
  border-radius: 10px;
}
.skin-2 .nav.navbar-top-links > li > a:hover,
.skin-2 .nav.navbar-top-links > li > a:focus {
  background: #1a2d41;
}
.skin-2 .navbar-default .nav > li > a:hover,
.skin-2 .navbar-default .nav > li > a:focus {
  background: #e0e0e0;
  color: #213a53;
}
.skin-2 .nav.nav-tabs > li.active > a {
  color: #555;
}
.skin-2 .nav.nav-tabs > li.active {
  background: transparent;
}


/*
 *
 *   SKIN 3
 *   NAME - Yellow/purple
 *
*/

.skin-3 .minimalize-style-2 {
  margin: 14px 5px 5px 30px;
}
.skin-3 .navbar-top-links li:last-child {
  margin-right: 30px;
}
.skin-3.fixed-nav .minimalize-style-2 {
  margin: 14px 5px 5px 15px;
}
.skin-3 .spin-icon {
  background: #ecba52 !important;
}
body.boxed-layout.skin-3 #wrapper {
  background: #3e2c42;
}
.skin-3 .nav-header {
  background-color: #ecba52;
  background-image: url('../img/theme-basekit-admin/patterns/header-profile-skin-3.png');
}
.skin-3.mini-navbar .nav-second-level {
  background: #3e2c42;
}
.skin-3 .breadcrumb {
  background: transparent;
}
.skin-3 .page-heading {
  border: none;
}
.skin-3 .nav > li.active {
  background: #38283c;
}
.fixed-nav.skin-3 .navbar-fixed-top {
  background: #fff;
}
.skin-3 .nav > li > a {
  color: #948b96;
}
.skin-3 .nav > li.active > a {
  color: #fff;
}
.skin-3 .btn-primary {
  background: $skin3_color1;
  border-color: $skin3_color1;
  &:hover {
    background: $skin3_color1_dark;
    border-color: $skin3_color1_dark;
  }
}
body.skin-3 {
  background: #3e2c42;
}
.skin-3 .navbar-static-top {
  background: #ffffff;
}
.skin-3 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}
.skin-3 #page-wrapper {
  background: #f4f6fa;
}
.skin-3 .ibox-title,
.skin-3 .ibox-content {
  border-width: 1px;
}
.skin-3 .ibox-content:last-child {
  border-style: solid solid solid solid;
}
.skin-3 .nav > li.active {
  border: none;
}
.skin-3 .nav-header {
  padding: 35px 25px 25px 25px;
}
.skin-3 .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}
.skin-3 .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}
.skin-3 .profile-element {
  text-align: center;
}
.skin-3 .img-circle {
  border-radius: 5px;
}
.skin-3 .navbar-default .nav > li > a:hover,
.skin-3 .navbar-default .nav > li > a:focus {
  background: #38283c;
  color: #fff;
}
.skin-3 .nav.nav-tabs > li.active > a {
  color: #555;
}
.skin-3 .nav.nav-tabs > li.active {
  background: transparent;
}


/*
 *
 *   SKIN MD
 *   NAME - Yellow/purple
 *
*/

body.skin-md {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}
.skin-md .nav-header {
  background: url("../img/theme-basekit-admin/patterns/4.png") no-repeat;
}
.skin-md .label,
.skin-md .badge {
  font-family: 'Roboto';
}
.skin-md .font-bold {
  font-weight: 500;
}
.skin-md .wrapper-content {
  padding: 30px 20px 40px;
}
@media (max-width: 768px) {
  .skin-md .wrapper-content {
    padding: 30px 0 40px;
  }
}
.skin-md .page-heading {
  border-bottom: none !important;
  border-top: 0;
  padding: 0 10px 20px 10px;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);
}
.skin-md .full-height-layout .page-heading {
  border-bottom: 1px solid #e7eaec !important;
}
.skin-md .ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-md .ibox.border-bottom {
  border-bottom: none !important;
}
.skin-md .ibox-title,
.skin-md .ibox-content {
  border-style: none;
}
.skin-md .ibox-title h5 {
  font-size: 16px;
  font-weight: 400;
}
.skin-md a.close-canvas-menu {
  color: #ffffff;
}
.skin-md .welcome-message {
  color: #ffffff;
  font-weight: 300;
}
.skin-md #top-search::-moz-placeholder {
  color: #ffffff;
}
.skin-md #top-search::-webkit-input-placeholder {
  color: #ffffff;
}
.skin-md #nestable-output,
.skin-md #nestable2-output {
  font-family: 'Roboto', lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
}
.skin-md .landing-page {
  font-family: 'Roboto', helvetica, arial, sans-serif;
}
.skin-md .landing-page.navbar-default.navbar-scroll {
  background-color: #fff !important;
}
.skin-md .landing-page.navbar-default {
  background-color: transparent !important;
  box-shadow: none;
}
.skin-md .landing-page.navbar-default .nav li a {
  font-family: 'Roboto', helvetica, arial, sans-serif;
}
.skin-md .nav > li > a {
  color: #676a6c;
  padding: 14px 20px 14px 25px;
}
.skin-md .nav.navbar-right > li > a {
  color: #ffffff;
}
.skin-md .nav > li.active > a {
  color: #5b5d5f;
  font-weight: 700;
}
.skin-md .navbar-default .nav > li > a:hover,
.skin-md .navbar-default .nav > li > a:focus {
  font-weight: 700;
  color: #5b5d5f;
}
.skin-md .nav .open > a,
.skin-md .nav .open > a:hover,
.skin-md .nav .open > a:focus {
  background: #1ab394;
}
.skin-md .navbar-top-links li {
  display: inline-table;
}
.skin-md .navbar-top-links .dropdown-menu li {
  display: block;
}
.skin-md .pace-done .nav-header {
  transition: all 0.4s;
}
.skin-md .nav > li.active {
  background: #f8f8f9;
}
.skin-md .nav-second-level li a {
  padding: 7px 10px 7px 52px;
}
.skin-md .navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}
.skin-md .nav > li > a {
  font-weight: 400;
}
.skin-md .navbar-static-side .nav > li > a:focus,
.skin-md .navbar-static-side .nav > li > a:hover {
  background-color: inherit;
}
.skin-md .navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: inherit;
}
.skin-md .nav-header .navbar-fixed-top a {
  color: #ffffff;
}
.skin-md .nav-header .text-muted {
  color: #ffffff;
}
.skin-md .navbar-form-custom .form-control {
  font-weight: 300;
}
.skin-md .mini-navbar .nav-second-level {
  background-color: inherit;
}
.skin-md .mini-navbar li.active .nav-second-level {
  left: 65px;
}
.skin-md .canvas-menu.mini-navbar .nav-second-level {
  background: inherit;
}
.skin-md .pace-done .navbar-static-side,
.skin-md .pace-done .nav-header,
.skin-md .pace-done li.active,
.skin-md .pace-done #page-wrapper,
.skin-md .pace-done .footer {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.skin-md .navbar-fixed-top {
  background: #fff;
  transition-duration: 0.4s;
  z-index: 2030;
  border-bottom: none !important;
}
.skin-md .navbar-fixed-top,
.skin-md .navbar-static-top {
  background-color: #1ab394 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-md .navbar-static-side {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-md #right-sidebar {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
  z-index: 900;
}
.skin-md .white-bg .navbar-fixed-top,
.skin-md .white-bg .navbar-static-top {
  background: #fff !important;
}
.skin-md .contact-box {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
}
.skin-md .dashboard-header {
  border-bottom: none !important;
  border-top: 0;
  padding: 20px 20px 20px 20px;
  margin: 30px 20px 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
  .skin-md .dashboard-header {
    margin: 20px 0 0 0;
  }
}
.skin-md ul.notes li div {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-md .file {
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-md .mail-box {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 0;
  margin-bottom: 20px;
  border: none;
}
.skin-md .mail-box-header {
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 30px 20px 20px 20px;
}
.skin-md .mailbox-content {
  border: none;
  padding: 20px;
  background: #ffffff;
}
.skin-md .social-feed-box {
  border: none;
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-md.landing-page .navbar-default {
  background-color: transparent !important;
  border-color: transparent;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: none;
}
.skin-md.landing-page .navbar-default.navbar-scroll,
.skin-md.landing-page.body-small .navbar-default {
  background-color: #ffffff !important;
}
.skin-md.landing-page .nav > li.active {
  background: inherit;
}
.skin-md.landing-page .navbar-scroll .navbar-nav > li > a {
  padding: 20px 10px;
}
.skin-md.landing-page .navbar-default .nav li a {
  font-family: 'Roboto', helvetica, arial, sans-serif;
}
.skin-md.landing-page .nav > li > a {
  padding: 25px 10px 15px 10px;
}
.skin-md.landing-page .navbar-default .navbar-nav > li > a:hover,
.skin-md.landing-page .navbar-default .navbar-nav > li > a:focus {
  background: inherit;
  color: #1ab394;
}
.skin-md.landing-page.body-small .nav.navbar-right > li > a {
  color: #676a6c;
}
.skin-md .landing_link a,
.skin-md .special_link a {
  color: #ffffff !important;
}
.skin-md.canvas-menu.mini-navbar .nav-second-level {
  background: #f8f8f9;
}
.skin-md.mini-navbar .nav-second-level {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.skin-md.mini-navbar .nav-second-level li a {
  padding-left: 0;
}
.skin-md.mini-navbar.fixed-sidebar .nav-second-level li a {
  padding-left: 52px;
}
.skin-md.top-navigation .nav.navbar-right > li > a {
  padding: 15px 20px;
  color: #676a6c;
}
.skin-md.top-navigation .nav > li a:hover,
.skin-md .top-navigation .nav > li a:focus,
.skin-md.top-navigation .nav .open > a,
.skin-md.top-navigation .nav .open > a:hover,
.skin-md.top-navigation .nav .open > a:focus {
  color: #1ab394;
  background: #ffffff;
}
.skin-md.top-navigation .nav > li.active a {
  color: #1ab394;
  background: #ffffff;
}
.skin-md.fixed-nav #wrapper.top-navigation #page-wrapper {
  margin-top: 0;
}
.skin-md.fixed-sidebar.mini-navbar .navbar-static-side {
  width: 0;
}
.skin-md.fixed-sidebar.mini-navbar #page-wrapper {
  margin: 0 0 0 0;
}
.skin-md.body-small.fixed-sidebar.mini-navbar #page-wrapper {
  margin: 0 0 0 0;
}
.skin-md.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
  width: 220px;
  background-color: #ffffff;
}
.skin-md.boxed-layout #wrapper {
  background-color: #ffffff;
}
.skin-md.canvas-menu nav.navbar-static-side {
  z-index: 2001;
  background: #ffffff;
  height: 100%;
  position: fixed;
  display: none;
}


/*
 *
 *   SKIN 4
 *   NAME - 
 *
*/


/*
 *
 *   SKIN 5
 *   NAME - 
 *
*/


/*
 *
 *   SKIN 6
 *   NAME - 
 *
*/


/*
 *
 *   SKIN 7
 *   NAME - UK
 *
*/

.skin-7 .btn-primary {
  background: $skin7_color1;
  border-color: $skin7_color1;
  &:hover {
    background: $skin7_color1_dark;
    border-color: $skin7_color1_dark;
  }
}

.nav > li.active {
  border-left: 4px solid $skin7_color1;
  background: #293846;
}
